# JDBC settings
db.default.driver=****
db.default.url="jdbc:postgresql://localhost:5432/****"
db.default.user=****
db.default.password=****


# slack
slack.token=****
slack.channel=****

akka {
  quartz {
    schedules {
      CrawlTask {
        description = "クローラ"
        expression = "0 0 0 ? * *"
      }
    }
  }
}